.card{
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    .card-header{
        font-size:1.8rem
    }
    button{
        width: 12rem;
        font-size: 1rem;
    }
    }
    
    .text-danger{
        color: red;
    }

    .imageDiv{
        
        img{
            height: 3rem;
            width: 3rem;
        }
   
    }
  .admin{
    background-color: #effefe;

  }