<section class="about-us text-center mt-5">
    <div class="container">
        <h2>About Us</h2>

        <p class="lead">
            We are a dedicated team of professionals passionate about delivering
            high-quality Software Servies.
        </p>
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="imgs/avatar.jpg" class="rounded-circle" width="100"
                    height="125">
                <h4>Rahul Gaur</h4>
                <p>Founder & CEO</p>
            </div>

            <div class="col-md-4">
                <img src="imgs/avatar1.jpg" class="rounded-circle" width="100"
                    height="125">
                <h4>Jane Smith</h4>
                <p>Chief Instructor</p>
            </div>

            <div class="col-md-4">
                <img src="imgs/avatar.jpg" class="rounded-circle" width="100"
                    height="125">
                <h4>Jenny Winget</h4>
                <p>Technical Lead</p>
            </div>

        </div>
    </div>

</section>
